h1 {
    color: white;
}

.header * {
    border: solid;
} 

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

a:link {
    color:white;
}

a:visited {
    color: black;
}

.menu {
    margin-right: 20px;
}

.menu a {
    margin-left: 25px;
}

.item {
    position: relative;
 }

 .item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5
}

 .item:hover p {
    opacity: 0.8;
}

.item:hover img {
    opacity: 0.3;
}